html,
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.app {
  max-width: 1500px;
  margin: 0 auto;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

article {
  width: 29%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 1%;
  padding: 1%;
  border-radius: 0.5rem;
}
